<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dictionary</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>A Dictionary in Python and Flask</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Input a letter to see the dictionary entries.</h2>
            </div>
        </div>
        <!-- input button -->
        <div class="row">
          <div class="col-md-12">
            <form action="/" method="post">
              <div class="form-group">
                  <input autocomplete="off" autofocus class="form-control" name="id" placeholder="Enter letter here" type="text">
              </div>
              <button class="btn btn-primary" type="submit">Submit</button>
          </form>
          </div>
        </div>
        <br><br>
        <!-- song table -->
        <div class="row">
          <div class="col-md-12">
            <!-- content goes here -->
            <table style="width:100%">
                <tr>
                  <th>Column title</th>
                </tr>
                <tr>
                  <th>Something here</th>
                </tr>
              </table>
          </div>
        </div>
    </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
